<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsN1k-ntTa37R6fdOmD678N6WL_G7pUq4</string>
	<key>GCM_SENDER_ID</key>
	<string>300805243904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapScore</string>
	<key>PROJECT_ID</key>
	<string>tapscore-235cc</string>
	<key>STORAGE_BUCKET</key>
	<string>tapscore-235cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300805243904:ios:d8ba51bd1ef2c1680504e5</string>
</dict>
</plist>